ansible.cfg
aws_ec2.yml
playbooks
site.yaml
hosts.yaml
consul-agent-ca.pem
become_password_file.txt
acl-token-server.json
agent-gossip-encryption.hcl
consul-agent-ca-key.pem
/*.yaml
/*.pem
/*.json
/*.hcl
roles/*/files
roles/**/files/*
Makefile
.DS_Store


