[Unit]
Description="kafka-ui {{version}}"
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{home}}/.env
User={{user}}
Group={{group}}
WorkingDirectory={{home}}
ExecStart={{java_home}}/bin/java --add-opens java.rmi/javax.rmi.ssl=ALL-UNNAMED -Dspring.config.additional-location={{home}}/config.yaml -jar {{download_dest}} --server.port={{server_port}}
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
