[Unit]
Description="zk with kafka 2.3.1"
Documentation=""
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{home}}/.env
Environment="KAFKA_HEAP_OPTS={{zk_heap_opts}}"
User={{user}}
Group={{group}}
WorkingDirectory={{home}}
ExecStart={{home}}/bin/zookeeper-server-start.sh {{home}}/config/zookeeper.properties
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
