{%- for host in (ansible_play_hosts | sort()) -%}
{%- if 'namesrv' in hostvars[host]['rocketmq_role'] -%}
{{"{}:9876".format(hostvars[host]['ansible_default_ipv4']['address'])}}
{%- if not loop.last %};{% endif %}
{%- endif -%}
{%- endfor +%}