[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
# ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
EnvironmentFile=-{{home}}/.env
User={{user}}
Group={{group}}
ExecStart={{exec_start}}
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart={{restart}}
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
