[Unit]
Description="{{systemd_name}} {{version}}"
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-{{home}}/.env
User={{user}}
Group={{group}}
WorkingDirectory={{home}}
ExecStart={{exec_start}}
{% if exec_stop %}
ExecStop={{exec_stop}}
{% endif %}
Restart={{restart}}
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target